@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Proza+Libre&display=swap');

/* header and nav styling */

header h1 {
    font-family: Comfortaa, sans-serif;
    font-size: 300%;
    color: #385c76;
    display: inline-block;
}

#navigation {
    font-size: 120%;
    color: #385c76;
    display: inline;
    float: right;
}

#navigation li {
    font-family:'Proza Libre', sans-serif;
    float: right;
    list-style-type: none;
    margin-right: 20px;
    letter-spacing: 2px;
}

/* hero image and styling */

#hero-container {
    height: 600px;
    width: 100%;
    display: inline-block;
}

#hero-image {
    height: inherit;
    width: 100%;
    background: url(../images/pouring_at_the_bar.jpg) no-repeat center left;
    float: left;
}

#cover-text {
    margin: 20px 0 0 20px;
    width: 50%;
    height: 40%;
    bottom: 30px;
    right: 30px;
    position: absolute;
    background-color: rgba(94, 94, 94, .7);
}

/* general body styling */

body {
    font-family: 'Proza Libre', sans-serif;
    line-height: 30px;
    letter-spacing: 2px;
}
/* about-us section */

#about-container{
    height: 400px;
    width: 100%;
    display: block;
}

#about-image {
    height: inherit;
    width: 50%;
    background: url(../images/presenting_cocktail.jpg) no-repeat center center;
    border: 10px 0 10px 0;
    float: right;
}

#about-left {
    height: inherit;
    width: 50%;
    float: left;
}

/* contact and address section styling */

#us-container {
    height: 450px;
    width: 100%;
    display: block;
}

#map {
    height: inherit;
    width: 50%;
    border: 10px 0 10px 0;
    float: left;
}

#us-text {
    height: inherit;
    width: 50%;
    border: 10px 0 10px 0;
    float: right;
    vertical-align: middle;
}

