@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Proza+Libre&display=swap');

/* header and nav styling */

header h1 {
    font-family: Comfortaa, sans-serif;
    font-size: 300%;
    color: #385c76
}

#navigation {
    font-size: 120%;
    color: #385c76
}

#navigation li {
    font-family:'Proza Libre', sans-serif;
    float: right;
    list-style-type: none;
    margin-right: 20px;
    letter-spacing: 2px;
}

/* hero image and styling */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pouring_at_the_bar.jpg) no-repeat center left;
    margin: 0 auto;
    float: left;
}