@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Proza+Libre&display=swap');

* {
    background-color: #F1F2EF;
    max-width: 1500px;
    margin: auto;
}
/* header and nav styling */

header {
    height: 50px;
    width: 100%;
}

#logo {
    font-family: Comfortaa, sans-serif;
    font-size: 130%;
    color: #385c76;
    height: 50px;
    text-align: left;
    margin: 10px 5px 10px 5px;
    width: 470px;
    float: left;
}

#navigation {
    font-size: 120%;
    letter-spacing: 2px;
    width: 450px;
    height: 50px;
    float: right;
    padding-inline-start: 10px;
}

#navigation > li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #385c76;
}

.active {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}

li > a:hover {
    text-transform: uppercase;
}

/* hero image and styling */

#hero-container {
    position: relative;
    text-align: center;
}

#cover-text {
    position: absolute;
    left: 16px;
    bottom: 25px;
    width: 350px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(56, 92, 118, .7);
    color: #fff;
    text-align: left;
}

/* general body styling */

body {
    font-family: 'Proza Libre', sans-serif;
    line-height: 30px;
    letter-spacing: 2px;
}
/* about-us section */

#about-container{
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

#about-image {
    height: inherit;
    width: 45%;
    background: url(../images/presenting_cocktail.jpg) no-repeat center center;
    float: right;
}

#about-left {
    height: inherit;
    width: 45%;
    float: left;
    text-align: justify;
}

/* contact and address section styling */

#us-container {
    height: 400px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#map {
    height: inherit;
    width: 45%;
    float: left;
}

#us-text {
    height: inherit;
    width: 45%;
    float: right;
}

/*footer styling */ 

#footer {
    text-align: center;
    margin-top: 10px;
}

footer h2 {
    font-family: Comfortaa, sans-serif;
    font-size: 150%;
    color: #385c76;
}

#socials {
    list-style: none;
}

#socials > li {
    display: inline;    
}

#socials i {
    color: #385c76;
    font-size: 200%;
    padding: 10px;
}

/* specific styling for menu page */

#menu {
    display: flex-wrap;
    clear: both;
    height: fit-content;
    max-width: 70%;
    margin-top: 80px;
    margin-bottom: 80px;
}

#menu > div {
    clear: both;
    font-size: 75%;
    line-height: normal;
    margin: 5px;
    padding: 4px;
    border: solid 2px #385c76;
    border-radius: 5px;
    min-height: 65px;
    max-height: fit-content;
}

#menu > p {
    text-align: justify;  
}

/* gallery styling */

#gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
    grid-template-areas: 
    "image1 image2 image3 image4"
    "video video video video"
    "image5 image6 image7 image8";
}

#image1 {
    grid-area: image1;
}

#image2 {
    grid-area: image2;
}

#image3 {
    grid-area: image3;
}

#image4 {
    grid-area: image4;
}

#image5 {
    grid-area: image5;
}

#image6 {
    grid-area: image6;
}

#image7 {
    grid-area: image7;
}

#image8 {
    grid-area: image8;
}

#video {
    grid-area: video;
    height: 400px;
    margin: 0 auto;
}

/* sign-up styling */

#form-container{
    position: relative;
    text-align: left;
    height: 600px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: block;
}

form {
    height: 500px;
    float: left;
    position: absolute;
    left: 0;
    bottom: 25px;
    margin: 50px 20px 0 20px;
    max-width: 375px;
    padding: 10px;
    background-color: #F1F2EF;
    border-radius: 5px;   
    }

input[type=text], input[type=email] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 5px 0;
    background: #FFF;
}

input[type=text]:focus,input [type=email]:focus {
    background-color: #F1F2EF;
    outline: none;
}

button {
    border-radius: 5px;
    width: 375px;
    text-align: center;
    text-size-adjust: 150%;
}

/* responsive styling for the gallery */
@media screen and (max-width: 1400px){
    
#gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
    "image1 image2"
    "image3 image4"
    "video video"
    "image5 image6"
    "image7 image8";
}
}

@media screen and (max-width: 750px) {
    #gallery {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}


/* responsive styling for large tablet size screens */

@media screen and (max-width: 950px) {
    
    #logo {
        width: 100%;
    }
    
    #about-container {
        width: 90%;
    }

    #us-container {
        width: 90%;
    }

    #map {
        width: 50%;
    }
}

/* responsive styling for smaller tablet size screens */

@media screen and (max-width: 750px) {
    #about-container {
        width: 95%;
        height: 500px;
        font-size: 90%;
    }

    #us-container {
        width: 95%;
        font-size: 90%;
        display: flex;
        flex-direction: column;
    }

    #map {
        width: 70%;
        align-items: center;
    }

    #us-text {
        align-items: center;
        width: 400px;
    }
}

/* responsive sizing for mobile screen sizes */

@media screen and (max-width: 500px ){
    
}